@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Root Colour to be shared across admin page */
:root
{
    /* Colour */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* Transition */
    --trans-02: all 0.2s ease;
    --trans-03: all 0.3s ease;
    --trans-04: all 0.4s ease;
    --trans-05: all 0.5s ease;
}



*
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body
{
    height: 100vh;
    background: var(--body-color);
    transition: var(--trans-05);

}

/* Change the root colour if the page is in dark mode */

body.dark
{
    /* Colour */
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #3A3B3C;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --text-color: #CCC;
}



.sidebar .text{
    font-size: 16px;
    font-weight: 500; 
    color: var(--text-color);
    transition: var(--trans-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Sidebar */
.sidebar
{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--trans-05);
    z-index: 100;

}

.sidebar.close
{
    padding-top: 13px;
    width: 88px;
    opacity: 1;
}

.sidebar.close .menu-bar
{
    padding-top: 3px;
}


.sidebar.close .text
{
    opacity: 0;
    pointer-events: none; /* Disable pointer events */
    cursor: default; /* Change cursor to default */
}


.sidebar.close .menu-bar .mode
{
    padding-top: 10px;
    height: 50px
}

.sidebar.close .menu-bar .log
{
    padding-top: 10px;
}


.sidebar li
{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;

}

.sidebar li .icon
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;

}

.sidebar li .icon, .sidebar li .text
{
    color: var(--text-color);
    transition: var(--trans-02);
}


.sidebar header
{
    position: relative;

}

.sidebar .image-text img
{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .image-text
{
    display: flex;
    align-items: center;

}

header .image-text .header-text
{
    display: flex;
    flex-direction: column;

}

.header-text .name
{
    font-weight: 600;
}

.header-text .profession
{
    margin-top: -2px;
}

.sidebar header .toggle
{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--trans-03);
}

.sidebar.close header .toggle
{
    transform: translateY(-50%);
}

body.dark .sidebar header .toggle
{
    color: var(--text-color);
}

.sidebar .menu
{
    margin-top: 35px;
}

.sidebar .search-box
{
    background: var(--primary-color-light);
    border-radius: 6px;
    transition: var(--trans-05);
    cursor: pointer;
}

.search-box input
{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    background: var(--primary-color-light);
    border-radius: 6px;
    transition: var(--trans-05);    
}


.sidebar li a
{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--trans-04);
}

.sidebar li a:hover
{
    background: var(--primary-color);
}

.sidebar li a:hover .icon, .sidebar li a:hover .text
{
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon, body.dark .sidebar li a:hover .text
{
    color: var(--text-color);

}

.sidebar .menu-bar
{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode
{
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
    transition: var(--trans-05);
}


.menu-bar .mode .moon-sun
{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i
{
    position: absolute;
    transition: var(--trans-03);
}

.menu-bar .mode i.sun
{
    opacity: 0;
}

body.dark .menu-bar .mode i.sun
{
    opacity: 1;
}

body.dark .menu-bar .mode i.moon
{
    opacity: 0;
}

.menu-bar .mode .toggle-switch
{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--primary-color-light);
    transition: var(--trans-05);
}

.toggle-switch .switch
{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
    transition: var(--trans-05);
}

.switch::before
{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--trans-03);
    
}

body.dark .switch::before
{
    left: 25px;
}




/* CSS For Outside of Navigation SideBar */

.home
{
    position:relative;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background: var(--body-color);
    transition: var(--trans-05);
}

.home .text
{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 40px;
}

.sidebar.close ~ .home
{
    left: 88px;
    width: calc(100% - 88px);
}




/* Testing */

.ui-w-80 {
    width : 80px !important;
    height: auto;
}

button{
    margin: 50px 10px;
    cursor: pointer;
}

.text-right .btn{
    background-color: var(--body-color);
    color: var(--text-color);
    transition: var(--trans-05);
}

.text-right .btn:hover{
    background-color: var(--primary-color);
    color: var(--primary-color-light);
}

body.dark .text-right .btn:hover{
    color: inherit;
}

.form-control, .custom-select{
    background-color: var(--sidebar-color);
    border-color: var(--text-color);
    color: var(--text-color);
    transition: var(--trans-05);
}


.card {
    background-clip: padding-box;
    background-color: var(--sidebar-color);
    color: var(--text-color);
    border-radius: 20px;
    border-width: 8px;
    border-color: var(--sidebar-color);
    box-shadow     : 0 1px 4px rgba(24, 28, 33, 0.012);
    transition: var(--trans-05);
}



.row-bordered {
    overflow: hidden;
}   

.account-settings-fileinput {
    position  : absolute;
    visibility: hidden;
    width     : 1px;
    height    : 1px;
    opacity   : 0;
}

.account-settings-links .list-group-item.active {
    font-weight: bold !important;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: var(--body-color);
}

html:not(.dark-style) .account-settings-links .list-group-item {
    background: var(--sidebar-color);
    color: var(--text-color);
    transition: var(--trans-05);
}


.light-style .account-settings-links .list-group-item.active {
    color: var(--text-color) !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

